.btn-switch {
  min-width: 50px;
  margin-top: 5px;
}

.remove{
  margin-left: 5px;
  margin-right: 5px;
}

.remove:hover,.arrow:hover{
  cursor: pointer;
  font-weight: 900;
}

.remove:hover {
  color: #D9534F;
}

.arrow:hover {
  color: #337AB7;
}

.right {
  float: right;
}

.left {
  float: left;
}

li:hover{
  background-color: #F7F7F9;
}

body{
  padding-top: 50px;
}
